body{
    background-color: #f0f2f4;
    font: 1.2em "Times New Roman", Times, serif;
    color: #4382f9;
    width: 900px;
    }
.borda{
    background-color: whitesmoke;
    padding: 5px;
    border: 10px none #ffffff ;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
    }
.negrito{
    font-weight: bolder;
    }
.centralizar{
    text-align: center;
    }
#menu{
    padding: 10px;
    background-color: honeydew;
    color: #4382f9;
    text-align: center;
}