body{
    margin-bottom: 10px;
    background-color: #f0f2f4e1;
}

section{
    background: white;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
    width: 500px;
    margin: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    float: left;
    margin-top: 60px;
    margin-left: 60px;
}
.apagar{
    text-align: center;
}

#suasContas{
    margin-top: 100px
}

.logo-banco{
    padding-left: 170px;
    width: 150px;
    height: 100px;
}