<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        <title>Belvo - Contatos</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="./templates/css/contato.css">
        <link rel="stylesheet" type="text/css" href="./templates/css/principal.css" />
        <link rel="stylesheet" type="text/css" href="./templates/css/bootstrap.min.css">

        {% endblock %}

    </head>

    <body style="width: 100%; height: 100%;">
        <nav class="navbar navbar-expand-sm navbar-dark bg-custom fixed-top">
            <!--LOGO-->
            <a href="http://127.0.0.1:5000/dados" class="navbar-brand" style="font-size: 30px; "><span id="vermelho"> Be</span>lvo</a>
            
            <!--HAMBURGER-->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-target">
                <span class="navbar-toggler-icon" ></span>
            </button>
            
            <!--LINKS-->
            <div class="collapse navbar-collapse" id="nav-target">
                <ul class="navbar-nav ml-auto" style="">
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/transacoes" class="nav-link">Transações</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/link" class="nav-link">Instituições</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/rota" class="nav-link">Bancos</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/contato" class="nav-link active">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="centralizar pt-5" id="borda">
        <h1 style="margin-top: 50px">Contato - Belvo</h1>
            
            <p class="negrito">Email:hello@belvo.co</p>
            <div id="link-contato"><a href="https://belvo.co/" class="links"> Site Belvo</a>
                <a href="https://goo.gl/maps/DX89oTBhTaSJQeUK8" class="links">Endereço Belvo</a>
                <a href="https://www.instagram.com/joinbelvo/" class="links"> Instagram Belvo</a>
                <a href="https://www.linkedin.com/organization-guest/company/belvofinance?challengeId=AQE6t-xCFDoM8AAAAXN3vnYUwVED0bx2TilL_I17MApe-bvuNcxTMDGFWhV25Y7kGKjyOQ1AZ0U4n5lpoNnrQ-cfWQHrAJoEbg&submissionId=96282ae4-e525-2416-611f-eab54aef4b57" class="links">
                Linkedin Belvo</a></div>
            

        </div>
        {% block script %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="./templates/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>

</html>