<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block css %}
    
    <link rel="stylesheet" type="text/css" href="templates/css/principal.css">
    <link rel="stylesheet" href="templates/css/styleInf.css">
    <link rel="stylesheet" href="templates/css/bootstrap.min.css">
    
    {% endblock %}
    {% block title %}<title>Algumas informações</title>{% endblock %}
    
</head>
<body style="width: 100%; height: 100%;">
    <nav class="navbar navbar-expand-sm navbar-dark bg-custom fixed-top">
        <!--LOGO-->
        <a href="http://127.0.0.1:5000/dados" class="navbar-brand active" style="font-size: 30px; "><span id="vermelho"> Be</span>lvo</a>
        
        <!--HAMBURGER-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-target">
            <span class="navbar-toggler-icon" ></span>
        </button>
        
        <!--LINKS-->
        <div class="collapse navbar-collapse" id="nav-target">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="http://127.0.0.1:5000/transacoes" class="nav-link">Transações</a>
                </li>
                <li class="nav-item">
                    <a href="http://127.0.0.1:5000/link" class="nav-link">Instituições</a>
                </li>
                <li class="nav-item">
                    <a href="http://127.0.0.1:5000/rota" class="nav-link">Bancos</a>
                </li>
                <li class="nav-item">
                    <a href="http://127.0.0.1:5000/contato" class="nav-link">Contato</a>
                </li>
            </ul>
    </nav>

    <div id="suasContas"><h1 >Suas contas: </h1></div>
    
        <div class="container-fluid" style="margin-top: 100px; margin-left: 0;">
          <div class="row">

            <!--começa o for-->
            {% if nome != [] %}

            {% for x in range(tamanho) %}   

            <div class="col-md-6 mt-10 col-lg-4 col-sm-6">
              <div class="card shadow mb-5 bg-black rounded">
                <div class="card-body">
                <!--Pegando a imagem-->
                    <h5 class="card-title">
                    {% for y in range(numero_instituicoes) %}
                        {% if nome[x]["institution"]["name"] == instituicoes[y]["name"] %}
                            <img src="{{instituicoes[y]["logo"]}}" class="logo-banco img-fluid card-header b-3">
                        {% endif %}
                    {% endfor %}
                  </h5>
                  
                  <p class="card-text">
                    <table>
                       <tbody>
                        <tr>
                          <th scope="row">
                            Banco: 
                          </th>
                          <td>{{nome[x]['institution']['name']}}</td>
                        </tr>
                        
                        <tr>
                          <th scope="row">
                            Tipo de cartão: 
                          </th>
                          <td>{{nome[x]['category']}}</td>                   
                        </tr>

                      </tbody>
                    </table>
                  </p><!--CARD TEXT-->
                </div><!--CARD BODY-->
              </div><!--CARD-->
            </div><!--COL-MD-6...-->
        {% endfor %}
        <!--FECHAMENTOS ROW E CONTAINER-->
        </div><!--ROW-->
        </div><!--CONTAINER-->
        
        
        {% else %}
        <section>
        <p> <h1> Nenhuma Conta Encontrada </h1> </p>
        </section><br>
        {% endif %}









    <!--{% if nome != [] %}

        {% for x in range(tamanho) %}
        
        <section>
            {% for y in range(numero_instituicoes) %}
                {% if nome[x]["institution"]["name"] == instituicoes[y]["name"] %}
                    <img src="{{instituicoes[y]["logo"]}}" class="logo-banco img-fluid card-header b-3">
                {% endif %}
            {% endfor %}
            
            <p><strong>Banco:</strong> {{nome[x]['institution']['name']}}</p>
            <p><strong>ID:</strong>{{nome[x]['id']}}</p>
            
            <p><strong>Tipo de cartão:</strong> {{nome[x]['category']}}</p>
        </section><br>
        {% endfor %}
    {% else %}
        <section>
        <p> <h1> Nenhuma Conta Encontrada </h1> </p>
        </section><br>
    {% endif %}
    
    
    <script type="text/javascript">{{comando}}</script>-->




    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="templates/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>