<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="templates/css/styleInf.css">
    <title>{% block title %}Algumas informações{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <h2 id="h2-config"><span id="vermelho"> Be</span>lvo</h2>
        </div>
        <div class="links-cabecalho">
            <a href="http://127.0.0.1:5000/transacoes" class="links">Transações</a>
            <a href="http://127.0.0.1:5000/link" class="links">Links / Instituições</a>
            <a href="http://127.0.0.1:5000/rota" class="links">Bancos</a>
            <a href="http://127.0.0.1:5000/contato" class="links">Contato</a>
        </div>


    </header>
    <div id="suasContas"><h1 >Suas contas: </h1></div>
    
    {% for x in range(tamanho) %}
    
    <section>
        {%for y in range(numero_instituicoes)%}
            {% if nome[x]["institution"]["name"] == instituicoes[y]["name"] %}
                <img src="{{instituicoes[y]["logo"]}}" alt="" width="300px" height="200px"> 
            {% endif %}
        {% endfor %}
        
        <p><strong>Banco:</strong> {{nome[x]['institution']['name']}}</p>
        <p><strong>ID:</strong>{{nome[x]['id']}}</p>
        
        <p><strong>Tipo de cartão:</strong> {{nome[x]['category']}}</p>
    </section><br>
    {% endfor %}

    <script type="text/javascript">{{comando}}</script>

    </body>
</html>