<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Link</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="./css/bordas.css">
        {% endblock %}

    </head>
    
    <body>
        <h1 class="centralizar">Login Belvo</h1>
        
        <div class="borda">
            
                <p> <strong>Id:</strong>{{id}}</p>
                <p><strong>Senha:</strong>{{senha}}</p>
            
        </div><br><br>
        <h1>Instituições</h1>
        {% for x in range(numero_instituicoes) %}
            <div class="borda">
                    <img src="{{instituicoes[x]["logo"]}}" alt="" width="300px" height="200px"> 
                    <p class="negrito">Instituição >> {{instituicoes[x]["name"]}}</p>
            
            </div><br><br>
        {% endfor %}
        
        <h1>Links</h1>
        {% if links != [] %}
            {% for x in range(numero_links) %}
                
                <div class="borda">
                    <p class="negrito">ID >> {{links[x]["id"]}}</p>
                    <p class="negrito"> Criado por >> {{links[x]["created_by"]}}</p>
                    <p class="negrito"> Instituição Cadstrada >> {{links[x]["institution"]}}</p>
                    
                </div><br>
            
            {% endfor %}
        {% else %}
            <div class="borda"><h1 class="centralizar">Nenhum Link Encontrado</h1></div>
        {% endif %}

    </body>

</html>