<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="templates/css/login.css">
        
        <title> {% block title %} Login belvo {% endblock %} </title>
    {% endblock %}

</head>
<body>
    <div id="container">
        
        <img src="templates/img/perfil.png">
    

        <form action="http://127.0.0.1:5000/dados" method="POST"> 
            <div>
                <input type="text" class="idPessoa" name="idPessoa" id="idPessoa" placeholder="Digite seu id">

            </div>
            
            <div>
                <input type="password" class="senha" name="senha" id="senha" placeholder="Digite sua senha">

            </div>

            <div>
                <input type="submit" class="submit" value="logar">

            </div>
        </form>
    </div>
</body>
</html>

