<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    

		<title> Belvo - Transasações</title>
		
		{% block css %}
			<link rel="stylesheet" type="text/css" href="./templates/css/principal.css" />
            <link rel="stylesheet" href="./templates/css/bootstrap.min.css">
        {% endblock %}

	</head>

	<body style="width: 100%; height: 100%;">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <!--LOGO-->
            <a href="http://127.0.0.1:5000/dados" class="navbar-brand" style="font-size: 30px; "><span id="vermelho"> Be</span>lvo</a>
            
            <!--HAMBURGER-->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-target">
                <span class="navbar-toggler-icon" ></span>
            </button>
            
            <!--LINKS-->
            <div class="collapse navbar-collapse" id="nav-target">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/transacoes" class="nav-link active">Transações</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/link" class="nav-link">Instituições</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/rota" class="nav-link">Bancos</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:5000/contato" class="nav-link">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>

		<h1 class="centralizar" style="margin-top: 90px">Login Belvo</h1>
        
        <div class="borda">
            
                <p> <strong>Id:</strong> {{id}}</p>
                <p><strong>Senha:</strong> {{senha}}</p>
            
        </div><br><br>
		<h1>Transasações</h1>
		{% if transacoes != [] %}
			{% for x in range(numero_transacoes) %}
				<div class="borda">
					<p class="negrito"> Banco da Transação >> {{transacoes[x]["account"]["institution"]["name"]}}</p>
					<p class="negrito"> Tipo de Transação >> {{transacoes[x]["account"]["type"]}}</p>
					<p class="negrito"> Saldo >> {{transacoes[x]["account"]["balance"]["current"]}}</p>
					<p class="negrito"> Saldo Disponivel >> {{transacoes[x]["account"]["balance"]["available"]}}</p>
					<p class="negrito"> Montante da Transação >> {{transacoes[x]["account"]["amount"]}}</p>
					<p class="negrito"> Descrição da Transação >> {{transacoes[x]["account"]["description"]}}</p>
				</div><br><br>
			{% endfor %}
		
		{% else %}
            <div class="borda"><h1 class="centralizar">Nenhuma Transação Encontrada</h1></div>
        {% endif %}


    {% block script %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="./templates/js/bootstrap.min.js"></script>
        {% endblock %}
	</body>

</html>